.device-header {
  background-color: #444;
  padding: 16px;
  width: 100%;
  text-align: center;
***REMOVED***

.device-header img {
  max-width: 200px;
  max-height: 255px;
  margin-left: -15px;
  padding: 0;
***REMOVED***

.device-info p {
  color: #697072;
***REMOVED***

.device-info div {
  padding: 5px;
  text-align: left;
  font-size: 1.5rem;
***REMOVED***

.device-info icon {
  color: color(primary);
  width: 20px;
***REMOVED***

.ios .device-info {
  text-align: center;
***REMOVED***

.ios .device-info div {
  display: inline-block;
***REMOVED***

.ios .device-info icon {
  width: auto;
  margin-right: 10px;
***REMOVED***
