<ion-menu id="leftMenu" [content]="content">
  <ion-toolbar>
    <ion-list>
      <ion-item class="gravatar-user">
        <ion-avatar item-left>
          <img src="{{userService.userProfile.authData.password.profileImageURL}}" />
        </ion-avatar>
        <h2>{{userService.userProfile.profile.firstName}} {{userService.userProfile.profile.lastName}}</h2>
        <p>{{userService.userProfile.authData.password.email}}</p>
      </ion-item>
    </ion-list>
  </ion-toolbar>
  <ion-content>
    <ion-list>
      <button ion-item *ng-for="#p of pages" (click)="openPage(p)">
        <icon dark item-left [ng-class]="p.icon"></icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="root"></ion-nav>