<ion-menu id="leftMenu" [content]="content">
  <ion-toolbar>
    <ion-list>
      <ion-item class="gravatar-user" lime>
        <ion-avatar item-left>
          <img src="{{userService.userProfile.authData.password.profileImageURL***REMOVED******REMOVED***" />
        </ion-avatar>
        <h2>{{userService.userProfile.profile.firstName***REMOVED******REMOVED*** {{userService.userProfile.profile.lastName***REMOVED******REMOVED***</h2>
        <p>{{userService.userProfile.authData.password.email***REMOVED******REMOVED***</p>
      </ion-item>
    </ion-list>
  </ion-toolbar>
  <ion-content>
    <ion-list>
       <button ion-item clear (click)="logout()">
        <icon ios="ion-ios-unlocked-outline" md="ion-unlocked" danger></icon>
        <span dark>ausloggen</span>
      </button>
      <button ion-item *ngFor="#p of pages" (click)="openPage(p)">
        <icon teal item-left [name]="p.icon"></icon>
        <span teal>
          {{p.title***REMOVED******REMOVED***
        </span>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="root"></ion-nav>