.login-content{
  background-image: url('../images/soccer-10.png');
  background-size: contain;
  background-position: bottom left; 
  background-repeat: no-repeat;
  background-color: #F6F6F6;
  .item{
    background-color: transparent;
    border: none;
***REMOVED***
  .padding-top{
    padding-top: 10%;
***REMOVED***
***REMOVED***
.forget-password-content{
  background-image: url('../images/soccer-13.png');
  background-size: contain;
  background-position: bottom left; 
  background-repeat: no-repeat;
  background-color: #006cb8;
  .item{
    background-color: #006cb8;
    border: none;
    input{
      color: white;
      @include placeholder(white); 
  ***REMOVED***
***REMOVED***
***REMOVED***
.signup-content{
  background-image: url('../images/soccer-7.png');
  background-size: cover;
  background-position: bottom right; 
  background-repeat: no-repeat;
  background-color: #FED006;
  .sub{
    // margin-top: 15%;
***REMOVED***
  .item{
    background-color: transparent;
    border: none;
    input{
      color: #000;
      //@include placeholder(#eee); 
  ***REMOVED***
***REMOVED***
***REMOVED***