.login-content, .signup-content{
  background-image: url('../images/soccer-10.png');
  background-size: contain;
  background-position: bottom left; 
  background-repeat: no-repeat;
  background-color: #F6F6F6;
  .item{
    background-color: transparent;
    border: none;
  }
  .padding-top{
    padding-top: 10%;
  }
}
.login-content{
  .loader{
    height: 2px;
    width: 100%;
  }
}
.signup-content{
  background-image: url('../images/soccer-8.png');
}
.forget-password-content{
  background-image: url('../images/soccer-13.png');
  background-size: contain;
  background-position: bottom left; 
  background-repeat: no-repeat;
  background-color: #006cb8;
  .item{
    background-color: #006cb8;
    border: none;
    input{
      color: white;
      @include placeholder(white); 
    }
  }
}

.ios{
  .login-content{
    ion-list > .item:first-child {
      border-top: 0;
    }
    ion-switch switch-icon{
      &:after,&:before{
        background-color: #F6F6F6;
      }
    }  
  }
} 
