<ion-navbar *navbar teal>
  <ion-title teal-lite>Events</ion-title>
</ion-navbar>
<ion-content class="events-content">
  <ion-list>
    <ion-item *ng-for="#event of events; var index=index" class="event-item">
      <ion-row>
        <ion-col>
          <h3>{{event.place.name***REMOVED******REMOVED***</h3>
        </ion-col>
        <ion-col>
          <span class="text-right">
            {{event.data.timestamp|date***REMOVED******REMOVED***
          </span>
        </ion-col>
      </ion-row>
    </ion-item>
    </ion-list>
</ion-content>