<ion-navbar *navbar green-dark>
  <ion-title>Spiele - 2016</ion-title>
</ion-navbar>
<ion-content class="events-content" padding>
  <div class="loader">
    <div class="relative" [ngClass]="{hide: eventsLoadedDone***REMOVED***">
      <div class="slider-loader">
        <div pink-dark class="line"></div>
        <div light class="break dot1"></div>
        <div light class="break dot2"></div>
        <div light class="break dot3"></div>
      </div>
    </div>
  </div>
  <ion-list>
    <!--<ion-item>
      <button (click)="import()">import</button>
    </ion-item>-->
    <ion-card *ngFor="#event of events; var index=index" class="event-item show">
      <ion-card-content>
        <span class="date" blue-grey>
          <i>{{event.date***REMOVED******REMOVED***</i>
        </span>
        <button (click)="goDetail(event)" ion-item>
          <h2 item-left>{{event.place?.name***REMOVED******REMOVED***</h2>
        </button>
        <div class="animated show">
          <button clear
          class="badge"
          (click)="goDetail(event)"
          [ngClass]="{
            danger:event.playerCount< 2,
            lime: event.playerCount < 5 && event.playerCount > 2,
            green: event.playerCount >= 5
        ***REMOVED***">
            Spieler <ion-badge
            [ngClass]="{
              danger:event.playerCount< 2,
              lime: event.playerCount < 5 && event.playerCount > 2,
              green: event.playerCount >= 5
          ***REMOVED***"
            >{{event.playerCount***REMOVED******REMOVED***</ion-badge>
          </button>
          <button clear blue-grey item-right>
            <ion-badge blue-grey>{{event.comments?.length***REMOVED******REMOVED***</ion-badge> Kommentare
          </button>
        </div>
      </ion-card-content>
      <button fab fab-right (click)="setPlayer(index)"
      class="button add-button button-icon-only"
      [ngClass]="{
      'button-blue-grey': !event.uuidInPlayers,
      'button-green': event.uuidInPlayers
    ***REMOVED***"
      >
        <ion-icon class="icon light ion-ios-football"></ion-icon>
      </button>
    </ion-card>
  </ion-list>
</ion-content>