<ion-navbar *navbar teal>
  <ion-title teal-lite> {{event.place?.name}}</ion-title>
</ion-navbar>
<ion-toolbar>
  <div>
    <ion-segment [(*ngModel)]="tab" teal (change)="onSegmentChanged($event)">
      <ion-segment-button value="one">
        Spieler
      </ion-segment-button>
      <ion-segment-button value="two">
        Kommentare
      </ion-segment-button>
      <ion-segment-button value="three">
        Detail
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-toolbar>
<ion-content class="events-content" padding>
  <div [(ngSwitch)]="tab">
    <ion-list *ngSwitchWhen="'one'">
      <ion-item *ngFor="#player of players">
        {{player.data.firstName}} {{player.data.lastName}}
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchWhen="'two'">
      <ion-item>
        <h2>Kommentare</h2>
      </ion-item>
    </ion-list>
    <ion-card *ngSwitchWhen="'three'">
      <ion-card-header>
        Spiel
      </ion-card-header>
      <img src="images/feuerbach.png" />
      <ion-card-content>
        <h2>{{event.place?.name}}</h2>
        <p>{{event.date}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>