.ios, .md{
  .event-item{
    .animated{
        min-height: 0px;
        height: 0;
        transition: all .2s ease-in-out;
      &.show{
        min-height: 40px;
        opacity: 1;
        transition: all .2s ease-out-in;
      }
    }
    span.date{
      font-size: 1.2rem;
    }
    ion-card-content{
      .item{
        padding-left: 0;
      }
    }
    .icon-only{
      font-size: 1.6rem;
    }
    icon.ion-md-chatboxes{
      padding-left: 10px;
      margin-top: 6px;
    }
  }
}