.md{
  ion-card{
    &.show{

      margin: 6% 0;
      overflow: initial;
    }
  }
}

.ios{
  ion-card{
    &.show{
      // border-bottom: 1px solid rgba(0,0,0,.2);
      .add-button{
        // bottom: -33px;
        z-index: 50;
        // left: -10px;
      }
    }
  }
}

.ios, .md{
  ion-list .item-inner{
    border-bottom: none !important;
  }
  .tablet{
    .events-page{
      ion-list{
        height: 100%;
        flex-direction: row;
        max-width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        ion-card.event-item{
          display: flex;
          width: 46%;
          margin: 2% 2%;
        }
      }
    }
  }
  ion-card{
    //padding: 20px;
    border-radius: 0 0 2px 2px;
    margin: 0 0 10px 0;
    box-shadow: none;
    &.show{
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      margin-bottom: 50px;
      overflow: initial;
      .add-button{
        // top: 70%;
        bottom: -28px;
        z-index: 50;
      }
    }
  }
  .event-item{
     [item-right][clear] {
      padding: 0 0;
      text-align: right;
     }
     [item-left][clear] {
      padding: 0 0;
      text-align: left;
     }
     .item-inner{
       padding-right: 0;
       button{
         margin-right: 0;
        }
     }
    .animated{
        min-height: 0px;
        height: 0;
        width: 75%;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #ccc;
        transition: height .2s ease-in-out;
        align-items: center;
      &.show{
        min-height: 40px;
        opacity: 1;
        transition: height .2s ease-out-in;
      }
      button{
        font-size: 14px;
        &:nth-child(1) {
          ion-badge{
            margin-left: 5px;
          }

        }
        &:nth-child(2) {
          ion-badge{
            margin-right: 5px;
          }
        }
      }
    }
    span.date{
      font-size: 1.3rem;
      display: flex;
      width: 50%;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    button.badge{
      // width: 50%;
      // text-align: right;
      display: flex;
      height: 20px;
      justify-content: flex-end;
      icon{
        //font-size: 20px;
        margin-left: 12px;
      }
    }
    ion-card-content{
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .item{
        padding-left: 0;
      }
    }
    .icon-only{
      font-size: 1.6rem;
    }
    icon[chatboxes]{
      padding-left: 10px;
      margin-top: 6px;
      margin-right: 8px;
    }
  }
  // span.badge {
  //   min-width: 3rem;
  //   padding: 0 6px;
  //   text-align: center;
  //   font-size: 1rem;
  //   line-height: inherit;
  //   position: absolute;
  //   background-color: white;
  //   right: 15px;
  //   box-sizing: border-box;
  //   justify-content: center;
  //   align-items: center;
  // }
  @each $color-name, $color-value in $colors {
    // @debug $color-name;
    // @debug $color-value;
    button.badge{
      &.#{$color-name}{
        color: $color-value;
      }
    }
  }
}