<ion-navbar *navbar pink-dark>
  <ion-title>Login</ion-title>
</ion-navbar>
<ion-content class="login-content">
  <div class="loader">
    <div class="relative" [ngClass]="{hide: !userOnLogin***REMOVED***">
      <div class="slider-loader">
        <div pink-dark class="line"></div>
        <div light class="break dot1"></div>
        <div light class="break dot2"></div>
        <div light class="break dot3"></div>
      </div>
    </div>
  </div>
  <form (submit)="doLogin($event)" [ngFormModel]="form">
    <ion-list>
      <ion-input>
        <input ngControl="email" type="email" placeholder="Deine E-mail">
      </ion-input>
      <ion-item *ngIf="form.hasError('required', 'email') && form.controls.email.dirty">
        <p danger>Email ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
      <ion-input>
        <input ngControl="password" type="password" placeholder="Dein Passwort">
      </ion-input>
      <ion-item danger *ngIf="form.hasError('required', 'password') && form.controls.password.dirty">
        <p danger>Passwort ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
      <!--<ion-toggle ngControl="remember" pink>
        Zugangsdaten merken
      </ion-toggle>-->
    </ion-list>
    <button small pink full type="submit" [disabled]="!form.valid" >Einloggen</button>
    <div class="options">
      <a button pink-light clear block [navPush]="forgotPasswordPage">Passwort vergessen?</a>
      <a button pink-light clear block [navPush]="signupPage">Registrieren</a>
    </div>
  </form>
</ion-content>