<ion-navbar *navbar indigo>
  <ion-title>Registrieren</ion-title>
</ion-navbar>
<ion-content class="signup-content">
  <form (submit)="doSignup($event)" [ngFormModel]="form">
    <ion-list>
      <ion-item clearInput>
        <ion-input ngControl="firstName" type="text" placeholder="Vorname" required></ion-input>
      </ion-item>
      <ion-item *ngIf="form.hasError('required', 'firstName') && form.controls.firstName.dirty">
        <p danger>Vorname ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
      <ion-item clearInput>
        <ion-input ngControl="lastName" type="text" placeholder="Nachname" required></ion-input>
      </ion-item>
      <ion-item *ngIf="form.hasError('required', 'lastName') && form.controls.lastName.dirty">
        <p danger>Nachname ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
      <!--<error-required
      [expr]="form.hasError('required', 'lastName') && form.controls.lastName.dirty"
      [attr]="Nachname"
      ></error-required>-->

      <ion-item clearInput>
        <ion-input ngControl="email" type="email" placeholder="Deine E-mail" required></ion-input>
      </ion-item>
      <ion-item *ngIf="form.hasError('required', 'email') && form.controls.email.dirty">
        <p danger>E-mail ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
      <ion-item *ngIf="form.hasError('isEmail', 'email') && form.controls.email.dirty">
        <p danger>Ihre E-mail ist nicht valide ('max@mustermann.de').</p>
      </ion-item>
      <!--<error-required
      [expr]="form.hasError('required', 'email') && form.controls.email.dirty"
      [attr]="E-mail"
      ></error-required>-->
      <ion-item clearInput>
        <ion-input ngControl="mobile" type="text" placeholder="Handynr." required></ion-input>
      </ion-item>
       <ion-item *ngIf="form.hasError('required', 'mobile') && form.controls.mobile.dirty">
        <p danger>Handynr. ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
      <ion-item *ngIf="form.hasError('isPhoneNumber', 'mobile') && form.controls.mobile.dirty">
        <p danger>Ihre Handynr. ist nicht valide ('01753248292').</p>
      </ion-item>
        <!--<error-required
        [expr]="form.hasError('required', 'email') && form.controls.email.dirty"
        [attr]="E-mail"
        ></error-required>-->
      <div ngControlGroup="matchingPassword">
        <ion-item clearInput>
          <ion-input ngControl="password" type="password" placeholder="Dein Passwort" required></ion-input>
        </ion-item>
        <ion-item *ngIf="form.controls.matchingPassword.hasError('required', 'password') && form.controls.matchingPassword.controls.password.dirty">
        <p danger>Passwort ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
        <ion-item clearInput>
          <ion-input ngControl="passwordConfirm" type="password" placeholder="Passwort wiederholen" required></ion-input>
        </ion-item>
        <ion-item *ngIf="form.controls.matchingPassword.hasError('required', 'passwordConfirm') && form.controls.matchingPassword.controls.passwordConfirm.dirty">
        <p danger>Passwort wiederholen ist ein pflicht feld und darf nicht leer sein.</p>
      </ion-item>
      <ion-item danger *ngIf="form.hasError('areEqual', 'matchingPassword')"><p danger>Passwörter stimmen nicht überein.</p></ion-item>
      </div>

    </ion-list>
    <button class="sub" small indigo full type="submit" [disabled]="!form.valid">Registrieren</button>
  </form>
</ion-content>