<ion-navbar *navbar indigo>
  <ion-title>Registrieren</ion-title>
</ion-navbar>
<ion-content class="signup-content">
  <form (submit)="doSignup($event)" [ngFormModel]="form">
    <ion-list>
      <ion-input>
        <input ngControl="firstName" type="text" placeholder="Vorname">
      </ion-input>
      <ion-input>
        <input ngControl="lastName" type="text" placeholder="Nachname">
      </ion-input>
      <ion-input>
        <input ngControl="email" type="email" placeholder="Deine E-mail">
      </ion-input>
      <ion-input>
        <input ngControl="mobile" type="text" placeholder="Handynr.">
      </ion-input>
      <div ngControl-group="matchingPassword">
        <ion-input>
        <input ngControl="password" type="password" placeholder="Dein Passwort">
        </ion-input>
        <ion-input>
          <input ngControl="passwordConfirm" type="password" placeholder="Passwort wiederholen">
        </ion-input>
      </div>
    </ion-list>
    <button class="sub" small indigo full type="submit" [disabled]="!form.valid">Registrieren</button>
  </form>
</ion-content>